/**
 * Normalize.css
 */

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

figcaption,
figure,
main {
    display: block;
}

img {
    border-style: none;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}
